@model WebApplication1.Models.Course
@{
    Layout = "_Layout";
}

<div>
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
            <h2 class="panel-title">确认选课</h2>
        </header>
        <div class="panel-body">
            <div>
                <p>您确定要选择以下课程吗？</p>
                <dl class="dl-horizontal">
                    <dt>课程ID：</dt>
                    <dd>@Model.CourseId</dd>
                    <dt>课程名称：</dt>
                    <dd>@Model.CourseName</dd>
                    <dt>课程学分：</dt>
                    <dd>@Model.Credits</dd>
                </dl>
                <form asp-action="ConfirmXK" method="post">
                    @Html.HiddenFor(model => model.CourseId)
                    <button type="submit" class="btn btn-success">确认选课</button>
                    <a asp-action="ShowCourse" class="btn btn-default">取消</a>
                </form>
            </div>
        </div>
    </section>
</div>
